/* GLOBAL STYLES */
*, html {
	margin: 0;
	padding: 0;
}
body {
	color: #EDEDED;
    font-size: 14px;
    line-height: 18px;
	background-color: #111111;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	background: url(/img/bgs/bg-artboard.jpg) repeat 0 0;
}
a {
	color: #EDEDED;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
    height: auto;
    max-width: 100%;
}

/* TEMPLATE STYLES */
#siteContainer {
	width: 90%;
	margin: 60px auto 0 auto;	
	background-color: #121212;
	-webkit-box-shadow: 3px 1px 10px 0px #333333;
    box-shadow: 3px 1px 10px 0px #333333;
	position: relative;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#header {
	
}
#mainNav {
	float: left;
	padding: 20px;
	width: 70%;
	margin: 0 auto;
}
#logoDwi {
	width: 17%;
	float: left;
	margin: -45px 0 0 5px;
}
#mainContent {
	min-height: 600px;
	position: relative;
	display: none;
}
#footer {
	padding: 10px;
	text-align: center;
	font-size: .9em;
}

/* NAVIGATION STYLES */
#mainNav li { display: inline; }

/* HOME */
#homeNav a {
	text-indent: -9999px;
	display: block;
	font-size: 2em;
	font-weight: 700;
}
#homeNav a:hover {
	text-indent: 0;
	text-decoration: none;
}
#portfolio a {
	width: 33%;
	height: 38%;
	position: absolute;
	top: 37%;
	right: 26%;
	background: #FF0000;
	z-index: 3;
}
#projects a {
	width: 16%;
	height: 36%;
	position: absolute;
	top: 63%;
	left: 32%;
	background: #00FF00;
	z-index: 4;
}
#contact a {
	width: 11%;
	height: 36%;
	position: absolute;
	top: 18%;
	right: 22%;
	background: #0000FF;
	z-index: 3;
}
#about a {
	width: 23%;
	height: 25%;
	position: absolute;
	top: 25%;
	left: 22%;
	background: #00FFFF;
	z-index: 1;
}

/* GLOBAL CLASSES */
a.button {
	border: 1px solid #555555;
	background-color: #111111;
	padding: 5px 10px;
	display: inline-block;
}
a.button:hover {
	text-decoration: none;
	background-color: #000000;
	color: #EFEFEF;
	border: 1px solid #EFEFEF;
}
.nav-list {
	list-style-type: none;
	padding: 0;
}
.nav-list li {
	display: inline;
}
.rounded {
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.clear:after { 
	content: ''; 
	display: table; 
	clear: both;
}




/** MEDIA QUERIES**/
@media screen and (min-width: 1224px) {
	#siteContainer {
		width: 960px;
	}
}


@media screen and (min-width: 600px) and (max-width: 1024px){
	#siteContainer {
		width: 90%;
	}
	#logoDwi {
		width: 20%;
		float: left;
		margin: -30px 0 0 5px;
	}
}

@media screen and (max-width: 568px) {
	body { background: none; }	
	#siteContainer {
		width: 100%;
		margin: 0;	
		background-color: #121212;
		-webkit-box-shadow: 0;
		box-shadow: 0;
		position: static;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	#logoDwi {
		margin: 0;
		padding: 10px 0 0 10px;
		width: 25%;
	}
}